{% extends "base.html" %}

{% block content %}
<main>
    <h1>Ласкаво просимо до Агентства з нерухомості</h1>
    <img src="{{ url_for('static', filename='photo_5217944575681882125_y.jpg') }}" alt="Головне зображення проєкту">
    <h1>Знайдіть своє ідеальне житло з нами!</h1>

    <section>
        <h2>Про проєкт</h2>
        <p>«Фруктова алея» — це не просто назва, а відображення реальності: уздовж дитячих майданчиків та прогулянкового скверу передбачена висадка яблунь, груш, слив та інших фруктових дерев.</p>
        <p>Концепція проєкту — об'єднання активного дозвілля на свіжому повітрі та продуманих планувань. Житловий комплекс «Фруктова Алея» складається з 5 секцій в оточенні прибудинкової території: фруктової алеї, дитячої ігрової зони, спортивних майданчиків та місць для відпочинку.</p>
        <p>Архітектори продумали планування квартир так, щоб у кожного була кухня-вітальня — місце для сімейного відпочинку або домашньої вечірки. Також запроєктовані вікна на всю висоту поверху, щоб збільшити кількість природного освітлення в кімнатах.</p>
    </section>

    <section>
        <h2>Інфраструктура</h2>
        <p>Район будівництва «Фруктова алея» — це частина Львова, де ведеться активне будівництво нових житлових комплексів. Концепція навколишніх проєктів відрізняється від типових спальних районів — ніяких сірих багатоповерхівок та напівпокинутих дворів.</p>
        <p>Нові комплекси також розвивають інфраструктуру — на перших поверхах відкривають невеликі магазини, аптеки або кафе. За продуктами можна пройтися декілька хвилин до «Produktova Khata» та «Family Food» або проїхати 5 хвилин на авто до супермаркетів «Арсен», «Рукавичка» та «АТБ».</p>
        <p>За 7 хвилин від ЖК можна доїхати до ТЦ Forum Lviv, а до найближчих ринків — Винниківського — за 15 хвилин їзди. Також поруч розташовані кілька кафе, ресторанів, суші-барів та McDonald's.</p>
    </section>

    <section>
        <h2>Особливості</h2>
        <ul>
            <li>Власники електрокарів зможуть заряджати свої автомобілі на підземному паркінгу.</li>
            <li>Передбачені стоянки для велосипедів.</li>
            <li>Встановлені спеціальні кошики для зовнішніх блоків кондиціонерів — це допоможе зберегти зовнішній вигляд фасадів.</li>
            <li>Завдяки монолітно-каркасному будівництву є можливість перепланування квартири за своїм дизайн-проєктом.</li>
            <li>Новий район за 10 хвилин їзди на авто від центру.</li>
        </ul>
    </section>
</main>
{% endblock %}